*{
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fondosupoerior{
  background-color: darkmagenta;
 
  width: 95%;
  display: flex;
  justify-content: center;
 
 
}

.fondoinferior{

  width: 95%;
  display: flex;
  justify-content: center;
  
 
}


.contenedor{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: blueviolet; */
  
  box-shadow: 0 50px 50px black;
  
 
}

.header{
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

.sobremi{
  background-color: beige;

  display: flex;
  align-self: stretch;
    
 
  
}

  .sobremi-texto{
    background-color: rgb(255,255,255);
    color: black;
    width: 50%;
  }
  .sobremi-btn{
    background-color: chocolate;
  }
  .sobremi-cara{
    background-color: rgb(255,255,255);
    width: 50%;
  }

/* ===========  SERVICIOS ========== */

.servicios{
 
  display: flex;
  align-self: stretch;
  
  border: solid 2px black;
  justify-content: space-around ;
  background-color: rgb(50,50,50);
    color: rgb(200, 200, 200);
  
  
  
}
  .servicios-caja{
    padding: 2rem;
    text-align: center;
    
  }
  .servicios-caja p{
 padding: 1rem;
  }                                                                                              
   
  .servicios-caja h3{
    padding: 1rem;
     }   
                                                                                          
      
  
  


/* ===========  TRABAJOS ========== */    

  .trabajos{
    background-color: rgb(255,255,255);
    align-self: stretch;
    padding-left: 5rem;
    
    
  }

    .trabajos-caja{
      padding: 4rem 3rem 4rem 0rem;
      color: rgb(100, 100, 100);
      
    }
    .trabajos-caja h1{
      padding: 0rem 1rem 0rem 1rem;
      border-left: solid rgb(146,195,81);
      font-weight: 200;
      font-size: xx-large;
      
    }
    .trabajos-caja p{
      padding: 1rem 1rem 0rem 0rem;
    }

/* ===========GALERIA IMAGENES ========== */

.galeria{
  display: flex; 
  justify-content: center;
  flex-wrap: wrap;

}
  
  .galeria img{
   
    width: 288px;
  }
    
   

.footer{
  
  display: flex;
  align-self: stretch;
  padding-bottom: 2rem;
 /*  height: 250px; */
  
}
 /* =====CAJA CONTACTO========= */
  .contacto{
    width: 30%;
    background-color: rgb(50,50,50);
    color: rgb(200, 200, 200);
    padding-top: 3rem;
    padding-left: 5rem;
    padding-bottom: 2rem;
    

  }
    .contacto h1{
      /* padding: 0; */
      padding-left: 1rem;
      border-left: solid rgb(146,195,81);
      font-weight: 200;
      font-size: xx-large;
    }

    .contacto-datos{
      padding-top: 1rem;
      padding-bottom: 0.5rem;
      font-style: italic;
      font-weight: 200;
      
    }
      .contacto p{
        padding-bottom: 0.5rem;
      }

    .redes{
      padding-top: 1rem;
    }

      .redes svg{
    
      }


/* ============CAJA FORMULARIO ===========*/
  .formulario{
    width: 70%;
    background-color: rgb(230, 230, 230);
    padding: 4rem;
  }
  .formulario input{
    padding: 1rem;
  }
.caja-btn{
  padding-top: 2rem;
}
.formulario-btn{
  padding: 1rem 4rem 1rem 4rem ;
  
  background-color:  rgb(50,50,50);
  color: rgb(200, 200, 200);
  border: none;
  border-radius: 3%;
}
  /*
  .hamburger {
    position: fixed;
    background-color: transparent;
    right: 0;
    top: 0;
    height: 30px;
    width: 30px;
    padding: 20px 20px;
   /*  -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.25s
      cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    z-index: 1002;                                
    cursor: pointer;
/*     -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;                                                          
    user-select: none;
  }                                                                                                                 
  .hamburger.is-active {
    background-color: none;
  }
  ._layer {
    background: #333333;
    margin-bottom: 4px;
    border-radius: 2px;
    width: 28px;
    height: 4px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  }
  .hamburger:hover .-top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .hamburger:hover .-bottom {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  .hamburger.is-active .-top {
    -webkit-transform: translateY(200%) rotate(45deg) !important;
    -ms-transform: translateY(200%) rotate(45deg) !important;
    transform: translateY(200%) rotate(45deg) !important;
  }
  .hamburger.is-active .-mid {
    opacity: 0;
  }
  .hamburger.is-active .-bottom {
    -webkit-transform: translateY(-200%) rotate(135deg) !important;
    -ms-transform: translateY(-200%) rotate(135deg) !important;
    transform: translateY(-200%) rotate(135deg) !important;
  }
  
  .menuppal.is_active {
    transform: translate3d(0px, 0px, 0px);
  }
  .menuppal {
    background-color: rgba(255, 255, 255, 0.95);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
  }
  .menuppal ul {
    margin: 0;
    padding: 0;
  }
  .menuppal ul li {
    list-style: none; 
     text-align: center;
    font-family: Verdadna, Arial, Helvetica;
    color: $nav-color-text;
    font-size: 1rem;
    line-height: 2em;
    height: 3em;
    color: #369;
    text-transform: none;
    font-weight: bold;
  }
  .menuppal ul li a {
    text-decoration: none;
    color: #369;
  }
  .menuppal ul li a:hover {
    text-decoration: none;
    color: #333;
  }
    */