

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; 
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fondosupoerior{
 
 
  width: 100%;
  display: flex;
 
  justify-content: center;
  height: 100vh;
  background-image: url(img/heroblur.jpg);
  background-size: cover;
  
  
  
}


 
.hero{
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  width: 85%;
  height: 90%;
 
  background: url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
  align-items: center;
  align-self: flex-end;
 
  
}

.hero-texto{
 text-align: center;
 color: whitesmoke;
 /* font-family: 'Azeret Mono', monospace; */
font-family: 'Roboto', sans-serif; 
 

}
  .hero-titulo{
  border: solid 3px rgb(126,198,123);
  text-transform: uppercase;
  font-size: 1.5rem;
  
   padding: 1.5rem 1rem;
   margin-bottom: 2rem;
  

  }
  
    
  
  .nav{
   display: flex;
    /* border: solid 2px white; */
    /* position: absolute;
    top: 10%; */
    
    position: absolute;
    top: 10%;
    width: 80%;
    justify-content: space-between;
    


    
  }

  .logo{
   border: solid 2px red;
    padding: 0.5rem 1rem;
    color: whitesmoke;
    font-size: 1.5rem;
    display: flex;

    
  
    
  }
  .logo-nombre{

    /* border-right: solid 1px green;
    transform: rotate(-15deg);
    transition: transform  0.1s cubic-bezier(0, 1.8, 1, 1.8);
    
    margin-bottom: -5px;
     */
  }
.logo-nombre p{
  /* transform: rotate(15deg);
 */
}
.logo-apellido{
/*   border-left: solid 1px green;
    transform: rotate(-15deg);
    transition: transform  0.1s cubic-bezier(0, 1.8, 1, 1.8);
    
    margin-top: -5px;
    text-align: center  ;
 */}
.logo-apellido p{
/*   transform: rotate(15deg);
 */}
  
  .menu{
    /* border: solid 2px blueviolet; */
    padding: 0.5rem 1rem;
    color: whitesmoke;
  }


.fondoinferior{

  width: 100%;
  display: flex;
  justify-content: center;
  
  

  
 
}


.contenedor{
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: blueviolet; */
  
  box-shadow: 0 50px 80px black;
  
 
}


/* ===========  SOBRE MI ========== */


.sobremi{
  background-color: beige;
  /* border: solid 2px green; */
  display: flex;
  align-self: stretch;
  height: 70vh;
 
  
}
/* ===========  CAJA IZQ TEXTO  ========== */

  .sobremi-texto{
    background-color: rgb(255,255,255);
    color: rgb(100, 100, 100);
    width: 60%;
   /*  border: solid 2px blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 1rem 0rem 5rem;
  }
    .sobremi-texto p{
      padding-top: 0;
    }
    .sobremi-subtitulo{
      padding: 1rem 1rem 0rem 0rem;
    }
    .sobremi-parrafo {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }


  .sobremi-caja{
   /*  padding: 0rem 1rem 0rem 1rem;
      border-left: solid rgb(146,195,81);
      font-weight: 100;
      font-size: xx-large;
      color: rgb(100, 100, 100);  */
      /* padding: 3rem 3rem 0rem 0rem; */
      

  }
    .sobremi-caja h1{
      padding: 0rem 1rem 0rem 1rem;
      border-left: solid rgb(146,195,81);
      font-weight: 100;
      font-size: xx-large;
      text-transform: uppercase;
    }
  .sobremi-btn{
    /* background-color: chocolate; */
    padding: 1rem 3rem;
  
    background-color:  rgb(50,50,50);
    color: rgb(200, 200, 200);
    border: none;
    border-radius: 3%;
    width: 200px;
  }

  /* ===========  CAJA DER CARA  ========== */

  .sobremi-cara{
    background-color: rgb(255,255,255);
    width: 40%;
  }

/* ===========  SERVICIOS ========== */

.servicios{
 
  display: flex;
  align-self: stretch;
  
  /* border: solid 2px black; */
  justify-content: space-around ;
  background-color: rgb(50,50,50);
  color: rgb(200, 200, 200);
  
  
  
}
  .servicios-caja{
    padding: 2rem;
    text-align: center;
    
  }
                                                                                               
   
  .servicios-caja h4{
    padding: 0.5rem 0rem 2rem 0rem;
     }   
                                                                                          
      
     .servicios-caja p{
      font-size: 0.7rem;
       }  
  


/* ===========  TRABAJOS ========== */    

  .trabajos{
    background-color: rgb(255,255,255);
    align-self: stretch;
    padding-left: 5rem;
    
    
  }

    .trabajos-caja{
      padding: 3rem 3rem 3rem 0rem;
      color: rgb(100, 100, 100);
      
    }
    .trabajos-caja h1{
      padding-left:  1rem;
      border-left: solid rgb(146,195,81);
      font-weight: 100;
      font-size: xx-large;
      text-transform: uppercase;
      
    }
    .trabajos-caja p{
      padding: 1rem 1rem 0rem 0rem;
    }

/* ===========GALERIA IMAGENES ========== */

.galeria{
 
  display: flex;
  
  
  flex-wrap: wrap;


  
}
  
  .galeria img{
   
    width: 270px;
    
    object-fit: cover;
    object-position: center;
    flex-grow: 1;
  }
/*     --------FOOTER--------- */
.contenedor-footer{
  
  height: 300px;
  width: 100%;
  display: flex;
 

}
/*     --------CAJA CONTACTO--------- */
.contenedor-contacto{
  
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
 background-color: rgb(50,50,50);
 color: rgb(200, 200, 200);
 padding-top: 3rem;
 padding-left: 5rem;
 padding-bottom: 1rem;


}
.contenedor-contacto h1{
  
  padding-left: 1rem;
  border-left: solid rgb(146,195,81);
  font-weight: 200;
  font-size: xx-large;
  text-transform: uppercase;
}

.contacto-datos{
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-style: italic;
  font-weight: 200;
 
  
  
}
.contacto-datos p{
  padding-bottom: 0.5rem;
}

.redes{
padding-top: 1rem;
}

.redes svg{

}

/* --------sector FORMULARIO-------- */

.contenedor-formulario{
 
  /* width: 90%; */
  display: flex;
  /* border: solid black; */
width: 60%

}

.form{

  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */

width: 100%;
padding-top: 3rem;
padding-left: 5rem;
padding-bottom: 1rem;
padding-right: 3rem;


	
 
}
.contenedor-nombre{
  
  
}
.contenedor-nombre input{
 
  /* width: 200px; */
 /*  height: 30px; */
 
  
}
.input-nombre{
  width: 45%; 
		height: 100%;
		/* background: none;
		color: #fff; */
		padding-top: 20px;
		border: none;
		outline: 0px;
}

.input-email{
  width: 45%; 
  height: 100%;
  /* background: none;
  color: #fff; */
  padding-top: 20px;
  border: none;
  outline: 0px;
}

.input-mensaje{
  width: 100%;
		height: 100%;
		/* background: none;
		color: #fff; */
		padding-top: 20px;
		border: none;
		outline: 0px;
}
.contenedor-mensaje{

  margin-top: 2rem;
  margin-bottom: 2.5rem;
  
  padding-right: 3rem;
 
  width: 90%;
  

 /*  height: 30px; */
}
 



/* .footer{
  
  display: flex;
  align-self: stretch;
 /*  padding-bottom: 2rem; */
 /*  height: 250px; */
  

 /* =====CAJA CONTACTO========= */
/*   .contacto{
    width: 30%;
  
    

  }
   
      
 */
 
/* ============CAJA FORMULARIO ===========*/
 /*  .formulario{
    width: 70%;
    background-color: rgb(230, 230, 230);
    padding: 3rem;
    background-color: violet;
  }

  .formulario-nombre{
    display: flex;
    background-color: aqua;
    
   
  }
  
  .caja-nombre{
    border: solid blue;
    width: 50%;
  
  }
  .caja-nombre input{
    width: 100%;
  }

  .email{
    border: solid green;
  }

  .mensaje{
    border: solid red;
  }
     */

  /* .formulario input{
    padding: 1rem;
  } */

/* ============ BTN ENVIAR ===========*/ 

/* .caja-btn{
  padding-top: 2rem;
}
.formulario-btn{
  padding: 1rem 4rem 1rem 4rem ;
  
  background-color:  rgb(50,50,50);
  color: rgb(200, 200, 200);
  border: none;
  border-radius: 3%; */


/* -------FORMULARIO------- */
/* 
.form-contenedor{  
  
  display: flex;
  flex-direction: column;

}
.nombremail{
  border: solid pink;
}
#nombre{
	border: solid black;
  width: 50%;
} */

 


  /*
  .hamburger {
    position: fixed;
    background-color: transparent;
    right: 0;
    top: 0;
    height: 30px;
    width: 30px;
    padding: 20px 20px;
   /*  -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.25s
      cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    z-index: 1002;                                
    cursor: pointer;
/*     -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;                                                          
    user-select: none;
  }                                                                                                                 
  .hamburger.is-active {
    background-color: none;
  }
  ._layer {
    background: #333333;
    margin-bottom: 4px;
    border-radius: 2px;
    width: 28px;
    height: 4px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  }
  .hamburger:hover .-top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .hamburger:hover .-bottom {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  .hamburger.is-active .-top {
    -webkit-transform: translateY(200%) rotate(45deg) !important;
    -ms-transform: translateY(200%) rotate(45deg) !important;
    transform: translateY(200%) rotate(45deg) !important;
  }
  .hamburger.is-active .-mid {
    opacity: 0;
  }
  .hamburger.is-active .-bottom {
    -webkit-transform: translateY(-200%) rotate(135deg) !important;
    -ms-transform: translateY(-200%) rotate(135deg) !important;
    transform: translateY(-200%) rotate(135deg) !important;
  }
  
  .menuppal.is_active {
    transform: translate3d(0px, 0px, 0px);
  }
  .menuppal {
    background-color: rgba(255, 255, 255, 0.95);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
  }
  .menuppal ul {
    margin: 0;
    padding: 0;
  }
  .menuppal ul li {
    list-style: none; 
     text-align: center;
    font-family: Verdadna, Arial, Helvetica;
    color: $nav-color-text;
    font-size: 1rem;
    line-height: 2em;
    height: 3em;
    color: #369;
    text-transform: none;
    font-weight: bold;
  }
  .menuppal ul li a {
    text-decoration: none;
    color: #369;
  }
  .menuppal ul li a:hover {
    text-decoration: none;
    color: #333;
  }
    */