

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; 
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fondosupoerior{
 
 
  width: 100%;
  display: flex;
 
  justify-content: center;
  height: 100vh;
  background-image: url(img/heroblur.jpg);
  background-size: cover;
  
  
  
}

.hero{
  
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 90%;
  background: url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  align-items: center;
  align-self: flex-end;
  
}
.menusuperior{
  display: flex;
  width: 90%;
  justify-content: space-between;

}

.hero-texto{
 text-align: center;
 color: whitesmoke;

font-family: 'Roboto', sans-serif; 
position: relative;
bottom: -100px;

}

  .hero-titulo{
  border: solid 3px rgb(126,198,123);
  text-transform: uppercase;
  font-size: 1.5rem;
  
   padding: 1.5rem 1rem;
   margin-bottom: 2rem;
 

  }
  
/* -----------------LOGO NOMBRE --------------- */
.logo{
   
    padding: 0.5rem 1rem;
    color: whitesmoke;
     text-transform: uppercase;
  font-size: 1.5rem;
    display: flex;
   
}

.logo span{
  font-size: 2.5rem;
  color: rgb(126,198,123);
}

.logo p{
  position: relative;
  bottom: -12px;
}
.guille{
  color: rgb(200, 200, 200);
}
.ojeda{

}

  /* ---------------MENU HAMBURGUESA-------------------- */
  
.hamburguesa{
    width: 30px;
    height: 40px;
    padding-top: 7px;
  	margin: 10px;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    }
  
 
    .hamburguesa hr{
      
        margin-bottom: 4px;
        border: 1.5px solid rgb(255,255,255);
        border-radius: 5%;
      
    }


li {
    cursor: pointer;
    
  }
  
  li:hover {
    background-color: rgba(249, 253, 255,0.2);
  }
hr {
    margin-bottom: 4px;
    background-color: #fff;
    border: 1.5px solid #fff;
    border-radius: 1px;
  }
nav {
   width: 100%;
    margin-left: 0;
    
  }
.nav-list {
    list-style: none;
    margin-left: none;
    padding: 10px 0;
    
    
  }
a {
    text-decoration: none;
    color: #fff;
    opacity: 0.9;
    padding: 1.5rem;
    
  }
 
.desabilitado-hamb {
    display: none;
   

  }
.habilitado-hamb {
    display: block;
  }
  

ul{
  display: flex;
  justify-content: end;
  margin-top: 10px;
  margin-right: 10px;
}


/* --------------FONDO INFERIOR ------------- */

.fondoinferior{ 

  width: 100%;
  display: flex;
  justify-content: center;
}


.contenedor{

  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
/*    background-color: blueviolet;  */
  
  box-shadow: 0 50px 80px black;
  
 
}

/* ===========  SOBRE MI ========== */


.sobremi{
  background-color: beige;
  /* border: solid 2px green; */
  display: flex;
  align-self: stretch;
  height: 70vh;
 
  
}
/* ===========  CAJA IZQ TEXTO  ========== */

  .sobremi-texto{
    background-color: rgb(255,255,255);
    color: rgb(100, 100, 100);
    width: 60%;
   /*  border: solid 2px blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 1rem 0rem 5rem;
  }
    .sobremi-texto p{
      padding-top: 0;
    }
    .sobremi-subtitulo{
      padding: 1rem 1rem 0rem 0rem;
    }
    .sobremi-parrafo {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }


  .sobremi-caja{

      

  }
    .sobremi-caja h1{
      padding: 0rem 1rem 0rem 1rem;
      border-left: solid rgb(146,195,81);
      font-weight: 100;
      font-size: xx-large;
      text-transform: uppercase;
    }
  .sobremi-btn{
  
    padding: 1rem 3rem;
  
    background-color:  rgb(50,50,50);
    color: rgb(200, 200, 200);
    border: none;
    border-radius: 3%;
    width: 200px;
  }

  /* ===========  CAJA DER CARA  ========== */

  .sobremi-cara{
    background-color: rgb(255,255,255);
    width: 40%;
  }

/* ===========  SERVICIOS ========== */

.servicios{
 
  display: flex;
  align-self: stretch;
  

  justify-content: space-around ;
  background-color: rgb(50,50,50);
  color: rgb(200, 200, 200);
  
  
  
}
  .servicios-caja{
    padding: 2rem;
    text-align: center;
    
  }
                                                                                               
   
  .servicios-caja h4{
    padding: 0.5rem 0rem 2rem 0rem;
     }   
                                                                                          
      
     .servicios-caja p{
      font-size: 0.7rem;
       }  
  


/* ===========  TRABAJOS ========== */    

  .trabajos{
    background-color: rgb(255,255,255);
    align-self: stretch;
    padding-left: 5rem;
    
    
  }

    .trabajos-caja{
      padding: 3rem 3rem 3rem 0rem;
      color: rgb(100, 100, 100);
      
    }
    .trabajos-caja h1{
      padding-left:  1rem;
      border-left: solid rgb(146,195,81);
      font-weight: 100;
      font-size: xx-large;
      text-transform: uppercase;
      
    }
    .trabajos-caja p{
      padding: 1rem 1rem 0rem 0rem;
    }

/* ===========GALERIA IMAGENES ========== */

.galeria{
 
  display: flex;
  
  
  flex-wrap: wrap;


  
}
  
  .galeria img{
   
    width: 270px;
    
    object-fit: cover;
    object-position: center;
    flex-grow: 1;
  }
/*     --------FOOTER--------- */
.contenedor-footer{
  
  height: 300px;
  width: 100%;
  display: flex;
 

}
/*     --------CAJA CONTACTO--------- */


.contenedor-contacto{
  
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
 background-color: rgb(50,50,50);
 color: rgb(200, 200, 200);
 padding-top: 3rem;
 padding-left: 5rem;
 padding-bottom: 1rem;


}
.contenedor-contacto h1{
  
  padding-left: 1rem;
  border-left: solid rgb(146,195,81);
  font-weight: 200;
  font-size: xx-large;
  text-transform: uppercase;
}

.contacto-datos{
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-style: italic;
  font-weight: 200;
 
  
  
}
.contacto-datos p{
  padding-bottom: 0.5rem;
}

.redes{
padding-top: 1rem;
}

.redes svg{

}

/* --------sector FORMULARIO-------- */


/* ----------------------------------------------------------- */

.form{
  display: flex;
  flex-direction: column;
 
  width: 60%;
  align-items: flex-start;
  justify-content: center;
 padding-left: 4rem;
 padding-right: 1rem;

}

.datosinput{
  width: 90%;
  
  margin: 1rem 0;
}

.datosinput input{
  width: 49%;
  height: 30px;
  border: none;
	border-bottom: 2px solid #0f0f0f;
  pointer-events: none;
   
	
}

.inputmsj{
  width: 90%;
  height: 50px;
  border-bottom: 1px solid #0f0f0f;
  border: none;
  
  
}

.btnEnviar{
  padding: 1rem 3rem;
  
  background-color:  rgb(50,50,50);
  color: rgb(200, 200, 200);
  border: none;
  border-radius: 3%;
  width: 200px;
}
/* .labelNombre{
  width: 45%; 
		height: 100%;
	
		padding-top: 20px;
		border: none;
		outline: 0px;
}

.input-email{
  width: 45%; 
  height: 100%;
 
  padding-top: 20px;
  border: none;
  outline: 0px;
}

.input-mensaje{
  width: 100%;
		height: 100%;
	
		padding-top: 20px;
		border: none;
		outline: 0px;
}
.contenedor-mensaje{

  margin-top: 2rem;
  margin-bottom: 2.5rem;
  
  padding-right: 3rem;
 
  width: 90%;
  

 
} */
 


